extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra ac arcu in placerat. Nunc interdum nec nulla a dignissim. Aliquam euismod ultricies elit eget laoreet. Curabitur quis ligula dui. Etiam et lacus fermentum, pulvinar magna at, viverra nulla. Praesent varius finibus mauris, in ullamcorper ante fermentum vehicula.

                p Vestibulum convallis hendrerit ligula nec rutrum. Praesent sed accumsan sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac nibh fermentum, tempor nisi non, auctor diam. Donec arcu ligula, placerat vel faucibus nec, imperdiet non diam.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")


        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canadá
                        p.fecha 20 de Marzo - 28 de Marzo de 2023
                        p.precio $2.500 USD

    .container
        h2.mt-5.text-center Testimoniales 
        .row.mb-5.text-center
        include ./layout/bloque_testimoniales
            