extends ./layout/index

block contenido

    h1(class="mt-5 text-center") #{pagina}    
    main.container.mt-5
        include ./layout/bloque_viajes



        //- p= JSON.stringify(viajes) Esta es una buena forma de saber que se está pasando la información desde la BD
